FIRESTORE_EMULATOR_HOST=127.0.0.1:8080
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIREBASE_STORAGE_EMULATOR_HOST=127.0.0.1:9199
GOOGLE_CLOUD_PROJECT=spartacus-artes-marciais
ROOT_PROJECT_ID=spartacus-artes-marciais
MAILERSEND_API_KEY=mlsn.sua_chave_aqui
APP_ENV=development
