FIRESTORE_EMULATOR_HOST=127.0.0.1:8080
FIREBASE_AUTH_EMULATOR_HOST=127.0.0.1:9099
FIREBASE_STORAGE_EMULATOR_HOST=127.0.0.1:9199
GOOGLE_CLOUD_PROJECT=spartacus-artes-marciais
ROOT_PROJECT_ID=spartacus-artes-marciais
APP_ENV=development
CORS_ORIGINS=http://localhost:5173,http://localhost:4173
